@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

h3 {
    font-size: 1.2375rem;
    color: #FFF;
}

a {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-decoration: none!important;
    color: white;
}

li {
    list-style: none;
}


.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    position: sticky;
    top: 0;
    height: 100dvh;
}

#sidebar.collapsed {
    margin-left: -264px;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}
.sidebar-img {
    width : 75%;
}
.sidebar-nav {
    padding: 0;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #757070;
    position: relative;
    display: block;
    font-size: 1rem;
    text-decoration: none;
}

a.sidebar-link:hover {
    color: #A0602E;
}

a.sidebar-link.active{
    color: #A0602E;
}

.sidebar-link-active {
    color: #A0602E;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.sidebar-item-list {
    margin-left: 25px;
}
.content {
    flex: 1;
}
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}
.ava {
    /* background-color : #F8F8F8; */
}
.navbar .ava img {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
}
.card-navbar {
    top : 15px;
    max-width : 2000px;
    backdrop-filter: none;
    background-color: #F8F8F8;
}
.card-navbar:hover {
    color: #A0602E;
}

.card {
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.card-home {
    cursor: pointer;
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}
.l-bg-cherry:hover {
    background: linear-gradient(to right, #493240, #8F0056) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}
.l-bg-blue-dark:hover {
    background: linear-gradient(to right, #373b44, #2A569C) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}
.l-bg-green-dark:hover {
    background: linear-gradient(to right, #0a504a, #26A356) !important;
    color: #fff;
}
.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}
.l-bg-orange-dark:hover {
    background: linear-gradient(to right, #a86008, #A17637) !important;
    color: #fff;
}
.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: 0.25;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.card-hotel {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(47, 27, 13, 0.9);
    text-decoration:none !important; 
}
.card-hotel .card-image-about img {
    object-fit: cover;
    max-height : 300px;
}
.card-image-about {
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 10px;
    overflow: hidden;
    max-width: 24rem;
    max-height: 24rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(47, 27, 13, 0.9);
    text-decoration:none !important; 
}
.card-hotel-info {
    text-decoration:none !important; 
    position: absolute;
    bottom: -40px;
    color: #F5F7F8;
    background: rgba(180, 180, 184, 0.3);
    backdrop-filter: blur(15px);
    min-height: 70px;
    width: 100%;
    transition: bottom .51s ease-in;
}
.card-hotel:hover .card-hotel-info {
    bottom: 0px;
    background: rgba(180, 180, 184, 0.3);
}
.button .button-about {
     background-color: #EEB07F ; 
    color: #FFF7E0;
    font-size : 25px;
    width : 270px;
    height : 50px;
}
.button .button-about:hover {
     background-color: #C6824B; 
         color: #FFF7E0;
}
.chart-month {

}
.card-info-home {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  justify-content: space-around; 
}

.card-header-home {
  margin-bottom: 0;
}
.card-body-home {
  flex: 1 1 auto;
  background-color : white;
}
.material-icons {
    max-width : 10%;
}

/* hotel */
.btn-group-hotel {
    border-radius: 20px;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #D0D4CA;
    color: white;
    border: 1px solid #D0D4CA;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  /* order analytics */

  .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.pl-3,
.px-3 {
    padding-left: 1rem !important
}
.top-table {
    background-color: #5C5A60;
    color: white;
}
.table-responsive {
    display: block;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.table,
.jsgrid .jsgrid-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}

.table thead th,
.jsgrid .jsgrid-table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 500;
    font-size: .875rem;
    text-transform: uppercase
}

.table td,
.jsgrid .jsgrid-table td {
    font-size: 0.875rem;
    padding: .875rem 0.9375rem
}

.badge {
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal;
    background-color: #404040;
    color: white;
}
.badge:hover {
    color: #B8B8B8;
    background-color: #404040;
}
.badge-trash {
    color: #FF004D;
    background-color: white;
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal;
}
.badge-trash:hover {
    color: #9C002F;
    background-color: white;
}
.progress {
   border-radius: 3px;
   height: 8px;
   margin-top:7px;
}
.pagination a.page-link {
   color: Black; 
}

.pagination .active.page-item a.page-link {
   color: white;
   background-color : #D0D4CA;
}

/* profile */
.card-prof-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }
.card-prof {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
text-align: center;
justify-content: center;
margin-top : 20px;
max-height : 600px;
max-width : 500px;
display : flex;
}
.foto-profil {
max-height : 300px;
max-width : 250px; 
text-align : center;
justify-content: center;
text-align: center;
}
.title {
color: grey;
font-size: 18px;
}
.optionmenu {
max-width : 500px;
}
.col-card {
text-align: center;
justify-content: center;
}
.option-button {
margin-top: 10px;
}
.col-button {
text-align: center;
}
.btn-option {
width :500px;
}
/* admin */

/* order testimony */
figure.snip1390 {
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 500px;
    width: 100%;
    height : 700px;
    color: #000000;
    text-align: center;
    font-size: 16px;
    background-color: #D0D4CA;
    padding: 30px;
    background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip1390 *,
  figure.snip1390 *:before,
  figure.snip1390 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  figure.snip1390 figcaption {
    width: 100%;
  }
  figure.snip1390 h2,
  figure.snip1390 h4,
  figure.snip1390 blockquote {
    margin: 0;
  }
  figure.snip1390 h2,
  figure.snip1390 h4 {
    font-weight: 300;
  }
  figure.snip1390 h2 {
    color: #ffffff;
  }
  figure.snip1390 h4 {
    color: #a6a6a6;
  }
  figure.snip1390 blockquote {
    font-size: 1em;
    padding: 25px 20px 40px 20px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
    height : 400px;
  }
  figure.snip1390 blockquote:before {
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 70px;
    opacity: 0.25;
    font-style: normal;
    top: 0px;
    left: 20px;
  }
  figure.snip1390 .profile {
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border: solid 5px #A6A57A;
  }
  .page-content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top : 20px;
  }

.modal-body-profile form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    width: 750px;   
    margin-top: 20px;
}

.modal-body-profile form .imgholder{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.imgholder .upload{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload i{
    color: #fff;
    font-size: 35px;
}

.imgholder:hover .upload{
    display: flex;
}

.imgholder .upload input{
    display: none;
}

.modal-body-profile form .inputField{
    flex-basis: 68%;
    padding-left: 20px;
}

form .inputField > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

form .inputField > div label{
    font-size: 20px;
    font-weight: 500;
}

#userForm form .inputField > div label::after{
    content: "*";
}

form .inputField > div input{
    width: 75%;
    padding: 10px;
}

.modal-footer-profile .submit{
    font-size: 18px;
}
.submit-profile {
    width: 500px;
    justify-content: center;
  align-items: center;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  #header-standart {
    background: url(assets/standartroom2.jpg) center center / cover no-repeat ;
    color: whitesmoke;
    max-height: 200px;
  } 
  #header-superior {
    background: url(assets/superiorroom2.jpg) center center / cover no-repeat ;
    color: whitesmoke;
    max-height: 200px;
  } 
  #header-deluxe {
    background: url(assets/deluxeroom2.jpg) center center / cover no-repeat ;
    color: whitesmoke;
    max-height: 200px;
  } 
.room-picture {
    max-width: 320px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-duration: 1s;
    position: relative;
    justify-content: center;
}

.room-picture:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}
.avatar {
    top:auto;
}
